* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/Roboto/Roboto-Light.ttf");
}

body {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;

  letter-spacing: 1px;
  color: var(--text-color);
  background-color: var(--backgroud-color-left-sidebar);
  background-image: linear-gradient(
    125deg,
    var(--backgroud-color-logo),
    var(--backgroud-color),
    var(--backgroud-color-left-sidebar),
    var(--color-orange)
  );
}
