* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/Roboto/Roboto-Light.ttf");
}

body {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;

  letter-spacing: 1px;
  color: var(--text-color);

}
