.footer-wiz {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 200px;
  background-color: var(--backgroud-color);
  border-top: 1px solid var(--color-border);

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    & > div {
      display: flex;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      &:first-child {
        background: var(--color-orange);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    form {
      & > div {
        background-color: var(--backgroud-color-left-sidebar);
        border-radius: 7px;
        padding: 3px 0px;
        svg {
          margin-left: 10px;
          font-size: 20px;
          align-self: center;
        }
        input {
          background-color: var(--backgroud-color-left-sidebar);
          color: #fff;
        }
      }
    }
  }
}
