<footer class="footer-wiz">
  <div>
    <div>
      <p>W</p>
      <p>Ecosystem</p>
      <p>Competition</p>
      <p>Tractio</p>
    </div>
    <form class="form-inline">
      <div class="input-group mr-sm-2">
        <i class="fas fa-at"></i>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Enter your email..."
        />
      </div>

      <button type="submit" class="btn">
        Get Started <i class="fas fa-arrow-right"></i>
      </button>
    </form>
  </div>
</footer>
