<header class="header-wiz">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Wizpreneur</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#"
          >Ecosystem <span class="sr-only">(current)</span></a
        >
        <a class="nav-link" href="#">Competition</a>
        <a class="nav-link" href="#">Tractio</a>
      </div>
    </div>
  </nav>
</header>
